################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/IssueTracker/v15/Server/sqlite3
/logs
